@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(body.dark *));

@theme inline {
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);

  --color-content-primary: var(--content-primary);
  --color-content-secondary: var(--content-secondary);
  --color-content-tertiary: var(--content-tertiary);

  --color-badge-info: var(--badge-info);
  --color-badge-neutral: var(--badge-neutral);
  --color-badge-success: var(--badge-success);
  --color-badge-error: var(--badge-error);

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);

  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);

  --color-card: var(--card);
}

:root {
  --color-neutral-50: rgb(250 250 250);
  --color-neutral-100: rgb(245 245 245);
  --color-neutral-200: rgb(229 229 229);
  --color-neutral-300: rgb(212 212 212);
  --color-neutral-400: rgb(163 163 163);
  --color-neutral-500: rgb(115 115 115);
  --color-neutral-600: rgb(82 82 82);
  --color-neutral-700: rgb(64 64 64);
  --color-neutral-800: rgb(38 38 38);
  --color-neutral-900: rgb(23 23 23);
  --color-neutral-950: rgb(10 10 10);

  --color-blue-50: rgb(230 247 255);
  --color-blue-100: rgb(189 234 254);
  --color-blue-200: rgb(143 221 254);
  --color-blue-300: rgb(147 203 253);
  --color-blue-400: rgb(96 165 250);
  --color-blue-500: rgb(59 130 246);
  --color-blue-600: rgb(37 99 235);
  --color-blue-700: rgb(29 78 216);
  --color-blue-800: rgb(30 64 175);
  --color-blue-900: rgb(30 58 138);
  --color-blue-950: rgb(23 37 84);

  --color-red-50: rgb(254 242 242);
  --color-red-100: rgb(254 226 226);
  --color-red-200: rgb(254 202 202);
  --color-red-300: rgb(252 165 165);
  --color-red-400: rgb(248 113 113);
  --color-red-500: rgb(239 68 68);
  --color-red-600: rgb(220 38 38);
  --color-red-700: rgb(185 28 28);
  --color-red-800: rgb(153 27 27);
  --color-red-900: rgb(127 29 29);
  --color-red-950: rgb(69 10 10);

  --color-orange-50: rgb(255 247 237);
  --color-orange-100: rgb(255 237 213);
  --color-orange-200: rgb(254 215 170);
  --color-orange-300: rgb(253 186 116);
  --color-orange-400: rgb(251 146 60);
  --color-orange-500: rgb(249 115 22);
  --color-orange-600: rgb(234 88 12);
  --color-orange-700: rgb(194 65 12);
  --color-orange-800: rgb(154 52 18);
  --color-orange-900: rgb(124 45 18);
  --color-orange-950: rgb(67 20 7);

  --color-green-50: rgb(240 253 244);
  --color-green-100: rgb(220 252 231);
  --color-green-200: rgb(187 247 208);
  --color-green-300: rgb(134 239 172);
  --color-green-400: rgb(74 222 128);
  --color-green-500: rgb(34 197 94);
  --color-green-600: rgb(22 163 74);
  --color-green-700: rgb(21 128 61);
  --color-green-800: rgb(22 101 52);
  --color-green-900: rgb(20 83 45);
  --color-green-950: rgb(5 46 22);

  --color-pink-50: rgb(253 242 248);
  --color-pink-100: rgb(252 231 243);
  --color-pink-200: rgb(251 207 232);
  --color-pink-300: rgb(249 168 212);
  --color-pink-400: rgb(244 114 182);
  --color-pink-500: rgb(236 72 153);
  --color-pink-600: rgb(219 39 119);
  --color-pink-700: rgb(190 24 93);
  --color-pink-800: rgb(157 23 77);
  --color-pink-900: rgb(131 24 67);
  --color-pink-950: rgb(80 7 36);
}

body {
  --border-primary: var(--color-neutral-300);
  --border-secondary: var(--color-neutral-400);

  --content-primary: var(--color-neutral-950);
  --content-secondary: var(--color-neutral-800);
  --content-tertiary: var(--color-neutral-700);

  --button-link-primary: var(--color-green-50);
  --button-link-secondary: var(--color-green-400);

  --badge-info: var(--color-green-300);
  --badge-neutral: var(--color-neutral-300);
  --badge-success: var(--color-green-300);
  --badge-error: var(--color-red-400);

  --background-primary: var(--color-neutral-100);
  --background-secondary: var(--color-neutral-200);
  --background-tertiary: var(--color-neutral-300);

  --button-primary: var(--color-green-600);
  --button-secondary: var(--color-green-400);

  --card: var(--color-neutral-100);
}

.dark {
  --border-primary: var(--color-neutral-700);
  --border-secondary: var(--color-neutral-600);

  --content-secondary: var(--color-neutral-300);
  --content-primary: var(--color-neutral-50);
  --content-tertiary: var(--color-neutral-400);

  --button-link-primary: var(--color-green-50);
  --button-link-secondary: var(--color-green-400);

  --badge-info: var(--color-green-300);
  --badge-neutral: var(--color-neutral-300);
  --badge-success: var(--color-green-300);
  --badge-error: var(--color-red-400);

  --background-primary: var(--color-neutral-950);
  --background-secondary: var(--color-neutral-900);
  --background-tertiary: var(--color-neutral-800);

  --button-primary: var(--color-green-600);
  --button-secondary: var(--color-green-400);

  --card: var(--color-neutral-950);
}

@layer base {
  img {
    display: initial;
  }
}

button {
  cursor: pointer;
}
